.booking {
  width: 100%;
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h2 {
    margin-bottom: 3rem;
  }
  form {
    width: 80%;
    margin-bottom: 3rem;
    .form-wrapper {
      width: 100%;
      display: grid;
      grid-template-rows: 1fr 1fr;
      gap: 2rem;
      span > * {
        margin-bottom: -0.2rem;
        color: $clr-blue-main;
      }
      select,
      input {
        min-height: 2rem;
        width: 100%;
        border: 1px solid gray;
        border-radius: 5px;
      }
      select {
        cursor: pointer;
      }
      .row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
        @include tablet {
          grid-template-columns: 1fr;
          place-items: center;
        }
        .input-wrapper {
          display: flex;
          flex-direction: column;
          width: 100%;
          label {
            color: black;
            font-size: $fs-500;
            font-weight: $fw-bold;
          }
        }
        button {
          align-self: flex-end;
          width: 100%;
          @include laptop-sm {
            font-size: $fs-500;
          }
          span > * {
            margin-bottom: -0.2rem;
            color: inherit;
            @include mobile {
              font-size: $fs-500;
            }
          }
        }
      }
    }
  }
}
