%butn {
  display: inline-block;
  cursor: pointer;
  border-radius: 0.15rem;
  padding: 0.2rem 0.6rem;
  text-align: center;
  text-decoration: none;
}
.btn-primary {
  @extend %butn;
  color: $clr-blue-main;
  background-color: $clr-neutral;
  font-weight: $fw-bold;
  font-size: $fs-600;
  padding: 1em;
  border: 1px solid $clr-blue-main;
  box-shadow: 0 1px 2px gray;
  -moz-box-shadow: 0 1px 2px gray;
  -webkit-box-shadow: 0 1px 2px gray;
  transition: all 350ms ease-in-out;
}
.btn-primary:hover {
  color: $clr-yellow-600;
  background-color: $clr-blue-main;
  border: 1px solid transparent;
}
.btn-booking {
  @extend %butn;

  font-weight: $fw-bold;
  font-size: $fs-600;

  color: $clr-yellow-600;
  border: 1px solid transparent;
  background-color: $clr-blue-main;
  box-shadow: 0 1px 2px gray;
  -moz-box-shadow: 0 1px 2px gray;
  -webkit-box-shadow: 0 1px 2px gray;
  transition: all 350ms ease-in-out;
}
.btn-booking:hover {
  background-color: darkblue;
}
