.contact {
  min-height: 50vh;
  width: 100%;
  .contact-wrapper {
    display: flex;
    flex-direction: column;
    .contact-top {
      margin: 3rem auto;
      display: flex;
      width: 100%;
      justify-content: space-between;
      .c-left,
      .c-right {
        min-width: 50%;
        padding: 5rem;
        display: flex;
        justify-content: center;
      }
      .c-right {
        color: $clr-neutral;
        background-color: $clr-blue-main;
        display: flex;
        .c-right-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          h2 {
            padding-bottom: 1rem;
          }
          p {
            align-self: self-start;
            margin-top: 0.3rem;
          }

          span > * {
            margin-bottom: -0.4rem;
            margin-right: 0.7rem;
            color: inherit;
          }
        }
      }
      .c-left {
        .c-left-wrapper {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h2 {
            margin-bottom: 1.5rem;
          }
        }
      }
    }
    .contact-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 2rem;
      .contact-bottom-wrapper {
        display: flex;
        width: 100%;
        .blue-envelope {
          width: 40%;
          background-color: $clr-blue-main;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        form {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 65%;
          input {
            width: clamp(50%, 55%, 60%);
            min-height: 2.5rem;
            margin-bottom: 0.5rem;
          }
          textarea {
            width: clamp(50%, 55%, 60%);
            min-height: 15.9rem;
          }
        }
      }
      h2 {
        margin-bottom: 3rem;
      }
    }
  }
}
